/* Credits: github.com/PiotrSss/logseq-clean-themes/blob/main/custom.css */

@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css");
@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-clean-themes-alt@master/code-mirror.css");
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=block");

/***************************************************************
****************************************************************
****************************************************************
****************************** MAIN ****************************
****************************************************************
****************************************************************
***************************************************************/

:root {
  --ls-main-content-max-width: 1200px;

  --ct-page-border-radius: 5px;

  --ct-font-family: "Noto Sans", "Noto Sans SC", sans-serif;
  --ct-page-title-font-family: Asap, "Noto Sans SC", sans-serif;
  --ct-text-size: 1em;
  --ct-line-height: 1.5;
  --ls-font-family: var(--ct-font-family);

  --ct-page-title-font-size: 36px;
  --ct-page-title-line-height: 40px;
  --ct-page-title-font-weight: 900;
  --ct-page-title-font-style: normal;

  --ct-heading-font-family: var(--ct-page-title-font-family);
  --ct-heading-font-size: 25px;
  --ct-heading-font-weight: 700;
  --ct-heading-font-style: normal;

  --ct-checkbox-border-radius: 2px;
  --ct-task-done-text-decoration: none;

  --ct-external-link-padding: 0 2px;
  --ct-external-link-border-radius: 0;
  --ct-external-link-text-decoration: none;
  --ct-external-link-text-decoration-hover: none;
  --ct-external-link-border-bottom: 1px solid;
  --ct-external-link-border-bottom-hover: var(--ct-external-link-border-bottom);
  --ct-external-link-text-decoration-inside-block-reference: var(
    --ct-external-link-text-decoration
  );
  --ct-external-link-text-decoration-inside-block-reference-hover: var(
    --ct-external-link-text-decoration-hover
  );
  --ct-page-reference-border-radius: 2px;
  --ct-page-reference-brackets-display: inline;
  --ct-tag-padding: 2px;
  --ct-tag-border-radius: 2px;
  --ct-tag-opacity: 1;
  --ct-tag-opacity-hover: 1;
  --ct-block-reference-padding: 1px 5px;
  --ct-block-reference-padding-inside-another: 4px 5px;
  --ct-block-reference-font-size: 0.95em;
  --ct-block-reference-font-family: inherit;
  --ct-block-reference-font-style: inherit;
  --ct-block-reference-font-weight: inherit;
  --ct-mark-border-radius: 2px;
  --ct-italics-font-weight: inherit;
  --ct-italics-font-family: inherit;
  --ct-bold-font-weight: 700;
  --ct-bold-font-family: inherit;
  --ct-code-font-family: "Fira Code", Monaco, Menlo, Consolas, "COURIER NEW",
    monospace;
  --ct-inline-code-font-size: 0.85em;
  --ct-inline-code-font-style: inherit;
  --ct-inline-code-border-radius: 2px;
  --ct-inline-code-padding: 2px 5px;

  --ct-sidebar-item-border: var(--ct-main-view-border);
  --ct-sidebar-item-border-radius: 5px;
  --ct-sidebar-title-font-family: var(--ct-page-title-font-family);

  --ct-tag-shadow: 1px 1px rgb(136, 136, 136);

  --ct-topbar-backdrop: blur(20px) saturate(180%);
}

:root.is-mac {
  --ct-font-family: Overpass, "Noto Sans SC", sans-serif;
}

html,
body {
  line-height: var(--ct-line-height);
  font-size: var(--ct-text-size);
  font-family: var(--ls-font-family);
  overscroll-behavior-y: none;
}

html[data-theme="light"] {
  background: var(--ls-primary-background-color);
}

html[data-theme="dark"] {
  background: var(--ls-primary-background-color);
}

.cp__sidebar-main-content {
  width: 100%;
}

#app-container {
  background: var(--ct-background);
}

#main-content-container {
  margin-top: 0 !important;
}

/* bullet dropdown menu */

.bg-base-3 {
  background-color: var(--ct-menu-dropdown-background);
}

/* page/block autocomplete */

.absolute-modal {
  width: fit-content;
  overflow: hidden;
  min-width: 0 !important;
  max-height: none !important;
}

.datepicker {
  margin-top: 0;
}

/* fix slash command no scrollbar issue */
#ui__ac-inner.hide-scrollbar::-webkit-scrollbar {
  display: initial;
}

/* weird vertical border on the left side of the screen */

#sidebar-nav-wrapper {
  border: none !important;
}

/* loading screen */

.cp__sidebar-main-content > .mt-20 {
  display: none;
}

/* Page file path offset fix */
#main-content-container
  > div
  > div
  > div
  > div.relative
  > div:nth-child(3)
  > div.content
  > div
  > span
  + a {
  margin-top: 2px;
}

.cp__header,
.cp__right-sidebar-topbar {
  backdrop-filter: var(--ct-topbar-backdrop);
  background-color: var(--ct-topbar-background) !important;
}

.cp__header::after,
.cp__right-sidebar-topbar::after {
  left: 0;
  right: 0;
  height: 1px;
  z-index: 1;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  display: block;
  content: "";
}

/***************************************************************
************************** MAIN AREA ***************************
***************************************************************/

.cp__sidebar-main-content > div {
  padding: 1px 40px 20px 40px;
  border-radius: var(--ct-page-border-radius);
  background: var(--ct-page-background);
  border: var(--ct-sidebar-item-border);
  box-shadow: var(--ct-sidebar-item-box-shadow);
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  max-width: var(--ls-main-content-max-width);
}

/* < > buttons */

.cp__header > a.navigation {
  opacity: 0.9;
}
.cp__header > a.navigation svg {
  color: var(--ct-desktop-nav-buttons-color);
}

/* searchbar */
#search-field {
  color: var(--ct-search-field-text-color);
  max-width: 100%;
  opacity: 1;
}

#search-field:focus {
  color: var(--ct-search-field-text-color);
}

#search-field::-webkit-input-placeholder {
  opacity: 0;
  color: var(--ct-search-field-text-color);
}

#search-field:focus::-webkit-input-placeholder {
  opacity: 1;
}

#search-wrapper > div:first-child {
  opacity: 1;
}

#search-wrapper svg,
#search-wrapper svg,
#search-wrapper:focus-within svg,
#search-wrapper:hover svg {
  color: var(--ct-search-icon-color);
}

/* Page title */

h1.title {
  font-family: var(--ct-page-title-font-family);
  font-size: var(--ct-page-title-font-size);
  font-weight: var(--ct-page-title-font-weight);
  font-style: var(--ct-page-title-font-style);
  color: var(--ct-page-title-color);
  line-height: var(--ct-page-title-line-height);
  margin-top: 30px;
  text-shadow: var(--ct-page-title-text-shadow, none);
}

a.title h1.title {
  margin-top: 0;
  text-shadow: var(--ct-page-title-text-shadow, none);
}

/* ... icon */

[title="More options"] svg {
  color: var(--ct-title-3dots-icon-color);
  opacity: 1;
}

/* page properties */

.blocks-container > .pre-block .block-content > div {
  background: var(--ct-page-properties-background);
}

/* Heading */

.ls-block h2 {
  font-family: var(--ct-heading-font-family);
  font-size: var(--ct-heading-font-size);
  font-weight: var(--ct-heading-font-weight);
  font-style: var(--ct-heading-font-style);
  color: var(--ct-heading-color);
  text-shadow: var(--ct-heading-text-shadow, none);
}

/* text */

.cp__sidebar-main-content {
  color: var(--ct-page-font-color);
}

.block-content .with-bg-color {
  border-radius: 3px;
}

/* block properties */

.blocks-properties {
  background: var(--ct-block-properties-background);
  border-radius: 0.25rem;
}

/* references block */

.references-blocks .color-level {
  background: var(--ct-page-references-background);
  border: var(--ct-page-references-border);
}

/* vertical lines and bullets */

.block-children {
  border-left: var(--ct-guideline-size) var(--ct-guideline-style)
    var(--ct-guideline-color);
}

.block-children:focus-within {
  border-color: var(--ct-page-reference-color);
}

.bullet-container {
  width: 14px;
  height: 14px;
}

.bullet-container .bullet {
  width: var(--ct-bullet-size);
  height: var(--ct-bullet-size);
  background-color: var(--ct-bullet-color);
  transform: scale(1.0001);
}

.bullet-container.bullet-closed {
  background-color: var(--ct-bullet-closed-color);
}

.block-control svg {
  color: var(--ct-block-arrow-color);
}

/* blockquote */

blockquote {
  background: var(--ct-quote-background);
  border-left: var(--ct-quote-border-left);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: var(--ct-quote-font-color, var(--ct-page-font-color));
}

/* page embed */

.embed-page {
  background: var(--ct-page-embed-background);
  border-radius: 0.25rem;
}

.embed-page .embed-header .mr-3 {
  margin-right: 0;
}

.embed-page .embed-header svg path {
  fill: var(--ct-page-embed-header-color);
}

.embed-page .embed-header .page-ref {
  color: var(--ct-page-embed-header-color);
  font-size: 22px;
}

/* block embed */

.embed-block {
  background: var(--ct-block-embed-background);
  border-radius: 0.25rem;
}

/* todos */

.form-checkbox,
.form-checkbox:focus {
  border-radius: var(--ct-checkbox-border-radius);
  border: 2px solid var(--ct-checkbox-border-color) !important;
  background-color: var(--ct-checkbox-background-color) !important;
  margin-top: -3px !important;
  margin-right: 6px !important;
}

.form-checkbox:checked,
.form-checkbox:checked:focus {
  border: 2px solid var(--ct-checkbox-border-color-checked) !important;
  background-color: var(--ct-checkbox-background-color-checked) !important;
  margin-right: 5px !important;
}

.doing .form-checkbox,
.doing .form-checkbox:focus {
  border: 2px solid var(--ct-checkbox-doing-border-color) !important;
  background-color: var(--ct-checkbox-doing-background-color) !important;
}

.canceled,
.done {
  color: var(--ct-task-done-text-color);
  text-decoration: var(--ct-task-done-text-decoration);
}

/* scheduled and deadline */

.text-sm.mt-1.flex.flex-row a.opacity-80 {
  color: var(--ct-scheduled-or-deadline-color);
  opacity: 1;
}
.text-sm.mt-1.flex.flex-row a.opacity-80:hover {
  color: var(--ct-scheduled-or-deadline-color-hover);
}

/* external link */

.external-link {
  padding: var(--ct-external-link-padding);
  border-radius: var(--ct-external-link-border-radius);
  text-decoration: var(--ct-external-link-text-decoration);
  background: var(--ct-external-link-background);
  border-bottom: var(--ct-external-link-border-bottom);
  color: var(--ct-external-link-color);
}

.external-link:hover {
  text-decoration: var(--ct-external-link-text-decoration-hover);
  background: var(--ct-external-link-background-hover);
  border-bottom: var(--ct-external-link-border-bottom-hover);
  color: var(--ct-external-link-color-hover);
}

/* external link inside block reference */

.block-ref .external-link {
  text-decoration: var(
    --ct-external-link-text-decoration-inside-block-reference
  );
  background: var(--ct-external-link-background-inside-block-reference);
  border-bottom: var(--ct-external-link-border-bottom-inside-block-reference);
  color: var(--ct-external-link-color-inside-block-reference);
}

.block-ref .external-link:hover {
  text-decoration: var(
    --ct-external-link-text-decoration-inside-block-reference-hover
  );
  background: var(--ct-external-link-background-inside-block-reference-hover);
  border-bottom: var(
    --ct-external-link-border-bottom-inside-block-reference-hover
  );
  color: var(--ct-external-link-color-inside-block-reference-hover);
}

/* page reference as parent */

.block-parents a {
  color: var(--ct-page-reference-inside-page-references-color);
}

.block-parents a:hover {
  color: var(--ct-page-reference-inside-page-references-color-hover);
}

/* page reference as title */

#main-content-container .page .relative .block-parents a {
  font-family: var(--ct-page-title-font-family);
  font-size: 20px;
  font-weight: var(--ct-page-title-font-weight);
  font-style: var(--ct-page-title-font-style);
  color: var(--ct-page-title-color);
}

#main-content-container .page .relative .block-parents a:first-child:before {
  content: "← ";
  opacity: 0.5;
  font-size: 15px;
  vertical-align: middle;
}

#main-content-container .page .relative .block-parents a:hover:before {
  opacity: 1;
}

/* page reference as parent inside references block */

.references-blocks .flex-1.flex-row.foldable-title .page-ref {
  color: var(--ct-page-reference-inside-page-references-color);
}

.references-blocks .flex-1.flex-row.foldable-title .page-ref:hover {
  color: var(--ct-page-reference-inside-page-references-color-hover);
}

/* tag */

a.tag {
  border-radius: var(--ct-tag-border-radius);
  opacity: var(--ct-tag-opacity);
  background: var(--ct-tag-background);
  color: var(--ct-tag-color);
  font-weight: 600;
  border: 1px solid var(--ct-tag-color);
  text-transform: uppercase;
  font-size: 0.85em;
  vertical-align: inherit;
  line-height: 1;
  padding: var(--ct-tag-padding);
  padding-bottom: 1px;
  font-family: var(--ct-page-title-font-family);
}

a.tag:hover {
  opacity: var(--ct-tag-opacity-hover);
  background: var(--ct-tag-background-hover);
  color: var(--ct-tag-color-hover);
}

/* tag inside block reference */

.block-ref a.tag {
  background: var(--ct-tag-background-inside-block-reference);
  color: var(--ct-tag-color-inside-block-reference);
}

.block-ref a.tag:hover {
  background: var(--ct-tag-background-inside-block-reference-hover);
  color: var(--ct-tag-color-inside-block-reference-hover);
}

/* block reference */

.block-ref {
  border-radius: 2px;
  padding: var(--ct-block-reference-padding);
  font-size: var(--ct-block-reference-font-size);
  font-family: var(--ct-block-reference-font-family);
  font-style: var(--ct-block-reference-font-style);
  font-weight: var(--ct-block-reference-font-weight);
  border-bottom: var(--ct-block-reference-border-bottom);
  background: var(--ct-block-reference-background);
  color: var(--ct-block-reference-color);
}

.block-ref:hover {
  border-bottom: var(--ct-block-reference-border-bottom-hover);
  background: var(--ct-block-reference-background-hover);
  color: var(--ct-block-reference-color-hover);
}

.block-ref:before {
  content: "#";
  color: var(--ct-block-reference-hash-color);
  font-size: 12px;
  vertical-align: text-bottom;
  padding: 0 4px 0 0;
}

.block-ref .block-ref {
  padding: var(--ct-block-reference-padding-inside-another);
  border-bottom: var(--ct-block-reference-border-bottom);
}

/* nr of references of that block */

.open-block-ref-link {
  right: 0;
  color: var(--ct-block-references-count-color);
  background: var(--ct-block-references-count-background);
  opacity: 1;
}

.open-block-ref-link:hover {
  color: var(--ct-block-references-count-color-hover);
  background: var(--ct-block-references-count-background-hover);
}

/* highlight */

mark {
  font-family: var(--ct-page-title-font-family);
  border-radius: var(--ct-mark-border-radius);
  background: var(--ct-mark-background);
  color: var(--ct-mark-color);
  font-size: inherit;
}

/* inline code */

:not(pre) > code {
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  padding: var(--ct-inline-code-padding) !important;
  background: var(--ct-inline-code-background);
  color: var(--ct-inline-code-color);
  vertical-align: text-bottom;
  margin-right: 2px;
}

/* query */

.custom-query {
  background: var(--ct-query-background);
  border-radius: 0.25rem;
  padding: 0 1.5rem;
  position: relative;
  margin-top: 0.5rem;
}

.block-body .custom-query > .flex > div,
#today-queries .custom-query > .flex > div,
.dsl-query .custom-query > .flex > div {
  padding: 12px 0;
}

.dsl-query > .custom-query .foldable-title .opacity-70,
#today-queries > .custom-query .foldable-title .opacity-70,
.block-body > .custom-query .foldable-title .opacity-70 {
  display: block;
  opacity: 1;
  padding: 5px 10px 2px 10px !important;
  background: var(--ct-query-header-background);
  color: var(--ct-query-header-color);
  font-family: var(--ct-code-font-family);
  font-size: var(--ct-inline-code-font-size);
  font-style: var(--ct-inline-code-font-style) !important;
  border-radius: var(--ct-inline-code-border-radius);
  text-shadow: 1px 1px 0px black, 1px 1px 1px rgb(136, 136, 136);
}

.dsl-query > .custom-query .foldable-title .opacity-70 code {
  background: none;
  color: var(--ct-query-header-color);
}

.block-body > .custom-query .foldable-title .opacity-70 > * {
  color: var(--ct-query-header-color);
}

/* query - page title in results */

.foldable-title .page-ref {
  color: var(--ct-query-result-page-title);
}
.foldable-title .page-ref:hover {
  color: var(--ct-query-result-page-title-hover);
}

/***************************************************************
************************ RIGHT SIDEBAR *************************
***************************************************************/

html.is-electron.is-mac .cp__right-sidebar-topbar {
  height: calc(2.2rem + var(--frame-top-height));
  padding-top: var(--frame-top-height);
}

#right-sidebar-container {
  width: calc(100% + 6px);
}

.cp__right-sidebar-inner {
  --sidebar-padding: 1rem;
}

.cp__right-sidebar-inner .resizer {
  background: var(--ct-sidebar-resizer-background);
  width: var(--sidebar-padding);
  touch-action: none;
  z-index: 2000;
}

/* TODO:  remove me after https://github.com/logseq/logseq/pull/1678 is merged */
.cp__right-sidebar-inner .resizer + div {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.cp__right-sidebar-inner .resizer:hover {
  background: var(--ct-sidebar-resizer-background-hover);
}

.cp__right-sidebar {
  background-color: transparent;
}

.cp__right-sidebar .block-content {
  position: relative;
}

/* title */
.sidebar-item.content > div > div:first-of-type {
  position: sticky;
  top: 3rem;
  padding: 1rem;
  margin: -1rem;
  z-index: 10;
  backdrop-filter: var(--ct-topbar-backdrop);
}

.sidebar-item.content > div > div:first-of-type + div {
  margin-top: 1.5rem;
}

html.is-electron.is-mac .sidebar-item.content > div > div:first-of-type {
  top: 58px;
}

.cp__right-sidebar.is-open {
  background: var(--ct-sidebar-background);
}

.cp__right-sidebar .sidebar-item {
  border-radius: var(--ct-sidebar-item-border-radius);
  margin: var(--sidebar-padding) 0;
  background: var(--ct-sidebar-item-background);
  border: var(--ct-sidebar-item-border);
  box-shadow: var(--ct-sidebar-item-box-shadow);
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.cp__right-sidebar {
  color: var(--ct-sidebar-font-color);
}

.sidebar-item-list {
  padding: 0 var(--sidebar-padding);
}

.cp__sidebar-help-btn {
  filter: grayscale(1);
}

.cp__right-sidebar-settings-btn {
  color: var(--ct-sidebar-tabs-color) !important;
}

.cp__right-sidebar .close-arrow svg {
  color: var(--ct-sidebar-close-arrow-color);
}

/* title */

[class="opacity-50 hover:opacity-100 flex items-center pr-1"] {
  margin-left: 9px;
}
[class="opacity-50 hover:opacity-100 flex items-center pr-1"] svg {
  margin-left: 0px !important;
  color: var(--ct-block-arrow-color);
}

.sidebar-item .ml-1:not(.text-sm) {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 4px;
  font-family: var(--ct-sidebar-title-font-family);
}

.sidebar-item .ml-1 a {
  color: var(--ct-sidebar-item-title-color);
}

/* title when only part of page is open in sidebar */

.sidebar-item .block-parents a {
  font-family: var(--ct-sidebar-title-font-family);
}

/* close button */

.cp__right-sidebar .sidebar-item .close svg {
  color: var(--ct-sidebar-item-close-button-color);
}

/* page properties */

.cp__right-sidebar .blocks-container > .pre-block .block-content > div {
  background: var(--ct-sidebar-page-properties-background);
}

/* block properties */

.cp__right-sidebar .blocks-properties {
  background: var(--ct-sidebar-block-properties-background);
}

/* references block */

.cp__right-sidebar .references-blocks .color-level {
  background: var(--ct-sidebar-page-references-background);
}

/* blockquote */

.cp__right-sidebar blockquote {
  background: var(--ct-sidebar-quote-background);
  border-left: var(--ct-sidebar-quote-border-left);
}

/* page embed */

.cp__right-sidebar .embed-page {
  background: var(--ct-sidebar-page-embed-background);
  border-radius: 0.25rem;
}

/* block embed */

.cp__right-sidebar .embed-block {
  background: var(--ct-sidebar-block-embed-background);
  border-radius: 0.25rem;
}

/* Recent pages */

.recent-pages a {
  color: var(--ct-recent-pages-color);
}

/* Help pages */

.cp__sidebar-help-docs a {
  color: var(--ct-help-pages-color);
}

/***************************************************************
**************************** MISC ******************************
***************************************************************/

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-left: -1rem;
}

#head .fade-link {
  font-size: 0.875rem;
}

textarea {
  caret-color: var(--ct-caret-color);
}

/* Remove focus ring in ff */
textarea:focus-visible {
  outline: none;
}

div#journals::before {
  content: '📅';
  display: block;
  position: sticky;
  float: right;
  top: 2.4em;
  font-size: 1.5em;
  z-index: 9;
  text-shadow: 0 0 1px;
  margin-right: -0.5em;
}

::selection {
  background: var(--ct-text-selection-color);
  color: var(--ct-text-selection-font-color, inherit);
}

.ls-block.selected {
  border-bottom-color: var(--ct-block-selected-border-bottom-color);
}
.block-highlight,
.content .selected {
  background: var(--ct-block-selected-background);
}

.time-spent {
  position: relative;
  align-self: center;
}

/* journal border */

#journals .journal-item {
  border-top: var(--ct-journal-border-height) var(--ct-journal-border-style)
    var(--ct-journal-border-color);
}

/* hide bullet for heading */

[style="height: 24px; margin-top: 22px; float: left;"] {
  opacity: 0;
}

[style="height: 24px; margin-top: 22px; float: left;"]:hover {
  opacity: 1;
}

/* tables */

tr {
  border-bottom: none;
}

.table-wrapper {
  max-width: 100%;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.table-wrapper table {
  margin: 0;
}

.table-wrapper tr,
.cp__sidebar-help-docs table tr {
  border-bottom: none;
}

.table-wrapper thead tr,
.cp__sidebar-help-docs table thead tr,
.flex-1 table thead tr {
  background: var(--ct-table-head-background, none) !important;
}

.table-wrapper thead th,
.cp__sidebar-help-docs table thead th,
.flex-1 table thead th {
  color: var(--ct-table-head-color, #fff);
}

.table-wrapper tbody tr:nth-child(odd),
.cp__sidebar-help-docs table tbody tr:nth-child(odd),
.flex-1 table tbody tr:nth-child(odd) {
  background: var(--ct-table-row-odd-bg, rgb(210 194 173 / 50%));
  color: var(--ct-table-row-odd-color);
}

.table-wrapper tbody tr:nth-child(even),
.cp__sidebar-help-docs table tbody tr:nth-child(even),
.flex-1 table tbody tr:nth-child(even) {
  background: var(--ct-table-row-even-bg, rgb(185 172 157 / 70%));
  color: var(--ct-table-row-even-color);
}

.table-wrapper thead th,
.cp__sidebar-help-docs table thead th,
.flex-1 table thead th {
  border-bottom: var(--ct-table-head-border-bottom, 2px solid #a59585);
}

.table-wrapper tbody td,
.cp__sidebar-help-docs table tbody td,
.flex-1 table tbody td {
  border-bottom: var(--ct-table-row-border-bottom, none);
}

.table-wrapper tr:last-child td,
.cp__sidebar-help-docs table tr:last-child td,
.flex-1 table tr:last-child td {
  border-bottom: none;
}

/* Settings */

.ui__modal-overlay div {
  background: var(--ct-settings-overlay-background);
}

.ui__modal-panel,
.settings-modal {
  background: var(--ct-settings-background);
}

.cp__settings-main > h1.title {
  margin-top: 0;
}

.ui__toggle .wrapper.bg-indigo-600 {
  background: var(--ct-settings-switcher-background);
}

.settings-modal .form-select {
  background: var(--ct-settings-select-background);
  color: var(--ct-settings-select-color);
  border: none;
}

.settings-modal .form-input {
  border: var(--ct-settings-input-border);
  color: var(--ct-settings-input-color);
  background: none;
}

.settings-modal hr {
  border-color: var(--ct-settings-hr-color);
}

/* "Rename" modal */

.ui__modal-overlay div {
  background: var(--ct-rename-overlay-background, #222);
}

.ui__modal-panel {
  background: var(--ct-rename-background, #1e1e1e);
}

#modal-headline {
  color: var(--ct-rename-header-color, #d5d5d5);
}

.ui__modal-panel .form-input {
  background: var(--ct-rename-background);
  color: var(--ct-rename-input-color, #fff) !important;
}

.ui__modal-panel
  button.inline-flex.justify-center.w-full.rounded-md.border.border-gray-300 {
  background: var(--ct-rename-cancel-background, #222);
  color: var(--ct-rename-cancel-color, #d5d5d5);
  border: none;
  box-shadow: none;
}

/* Tooltip */

.Tooltip__label {
  background-color: var(--ct-page-background);
  box-shadow: 0 0 2px var(--ct-journal-border-color);
}

.Tooltip__label::after {
  border-bottom-color: var(--ct-page-background);
}

.ui__button {
  border: var(--ct-sidebar-item-border);
}

/*=============================================================================================================================
==== highlight current path by cannnibalox v0.2 https://discuss.logseq.com/t/css-highlights-current-path-bullets-color/371 ====
=============================================================================================================================*/

.ls-block .bullet {
  background-color: var(--ct-page-reference-color);
  box-shadow: 0 0 0 2px var(--ct-background),
    0 0 0 3px var(--ct-page-reference-color);
}

.ls-block:not(:focus-within) .bullet {
  background-color: var(--ct-bullet-color);
  box-shadow: none;
}

/***************************************************************
****************************************************************
****************************************************************
**************************** MOBILE ****************************
****************************************************************
****************************************************************
***************************************************************/

.is-mobile #head.cp__header {
  background: var(--ct-mobile-head-background);
  box-shadow: var(--ct-mobile-head-box-shadow, none);
}

.is-mobile .cp__header-left-menu {
  border: none;
  color: var(--ct-mobile-head-menu-icon-color);
}

.is-mobile #search-wrapper,
.is-mobile #search-field,
.is-mobile #search-wrapper > div:first-child {
  opacity: 1;
}

.is-mobile #left-bar,
#left-bar > .head-wrap {
  background: var(--ct-mobile-left-sidebar-background);
}

.is-mobile .head-wrap a {
  opacity: 1;
  color: var(--ct-mobile-sidebar-repo-name-color);
}
.is-mobile #left-bar .close-panel-btn {
  color: var(--ct-mobile-close-sidebar-button-color);
}

.is-mobile #left-bar nav > a,
.is-mobile #left-bar nav > a svg {
  color: var(--ct-mobile-menu-color);
}

.is-mobile .left-sidebar-inner > .pl-4.pr-4 {
  background: var(--ct-mobile-menu-separator-background) !important;
}

.is-mobile #mobile-editor-toolbar {
  background: var(--ct-mobile-editor-toolbar-background);
}

.is-mobile #mobile-editor-toolbar svg {
  color: var(--ct-mobile-editor-toolbar-color);
}

/***************************************************************
****************************************************************
****************************************************************
**************************** Dark 1 ****************************
****************************************************************
****************************************************************
***************************************************************/

.dark-theme,
html[data-theme="dark"] {
  --ls-icon-color: var(--ct-title-3dots-icon-color);
  --ls-link-text-color: var(--ct-page-reference-color);
  --ls-link-text-hover-color: var(--ct-page-reference-color-hover);
  --ls-link-ref-text-color: var(--ct-page-reference-color);
  --ls-link-ref-text-hover-color: var(--ct-page-reference-color-hover);
  --ls-primary-text-color: var(--ct-page-font-color);
  
  --ct-background: #1e1e1e;
  --ls-primary-background-color: var(--ct-background);
  --ls-secondary-background-color: #333;
  --ls-tertiary-background-color: #2c3622;

  --ct-desktop-nav-buttons-color: #404040;

  --ls-scrollbar-foreground-color: #444;
  --ls-scrollbar-background-color: var(--ls-primary-background-color);

  --ct-logo-color: #404040;
  --ct-repo-name-color: var(--ct-desktop-nav-buttons-color);
  --ct-top-right-3dots-icon-color: var(--ct-desktop-nav-buttons-color);

  --ct-search-icon-color: #a0ca79;
  --ct-search-field-background: #222;
  --ct-search-field-background-focus: var(--ct-search-field-background);
  --ct-search-field-text-color: #d5d5d5;

  --ct-page-background: #222;
  --ct-page-box-shadow: none;

  --ct-page-font-color: #bbb;
  --ct-page-title-color: var(--ct-page-font-color);
  --ct-page-title-text-shadow: none;
  --ct-heading-color: var(--ct-page-title-color);
  --ct-heading-text-shadow: var(--ct-page-title-text-shadow);

  --ct-title-3dots-icon-color: rgba(87, 87, 87, 0.7);

  --ct-file-path-color: #909d74;
  --ct-file-path-color-hover: #cbdbab;

  --ct-main-view-border: 2px solid #444;

  --ct-page-references-background: #292929;
  --ct-page-references-border: none;

  --ct-page-properties-background: var(--ct-page-references-background);

  --ct-hr-border-top: 1px solid #373737;

  --ct-guideline-color: #2d2d2d;
  --ct-guideline-size: 1px;
  --ct-guideline-style: solid;

  --ct-block-arrow-color: rgb(98, 98, 98);

  --ct-bullet-size: 6px;
  --ct-bullet-color: #4d4d4d;
  --ct-bullet-closed-color: #8e8e8e;

  --ct-block-properties-background: var(--ct-page-properties-background);

  --ct-quote-background: var(--ct-page-properties-background);
  --ct-quote-border-left: 5px solid #909d74;

  --ct-page-embed-background: var(--ct-page-properties-background);
  --ct-page-embed-header-color: var(--ct-page-reference-color);

  --ct-block-embed-background: var(--ct-page-properties-background);

  --ct-block-references-count-color: #999;
  --ct-block-references-count-background: var(--ct-page-properties-background);
  --ct-block-references-count-color-hover: #cecece;
  --ct-block-references-count-background-hover: #595959;

  --ct-checkbox-border-color: #57ad95;
  --ct-checkbox-border-color-checked: #497b6d;
  --ct-checkbox-background-color: transparent;
  --ct-checkbox-background-color-checked: #497b6d;
  --ct-checkbox-doing-border-color: #ff6d6d;
  --ct-checkbox-doing-background-color: var(--ct-checkbox-background-color);
  --ct-checkbox-marker-switch-display: none;
  --ct-checkbox-marker-switch-color: var(--ct-checkbox-border-color);
  --ct-checkbox-doing-marker-switch-color: var(
    --ct-checkbox-doing-border-color
  );
  --ct-task-done-text-color: #8e8e8e;
  --ct-scheduled-or-deadline-color: var(--ct-file-path-color);
  --ct-scheduled-or-deadline-color-hover: var(--ct-file-path-color-hover);

  --ct-external-link-text-decoration: none;
  --ct-external-link-text-decoration-hover: none;
  --ct-external-link-background: none;
  --ct-external-link-background-hover: var(
    --ct-page-reference-background-hover
  );
  --ct-external-link-border-bottom: 1px solid #6f3e29;
  --ct-external-link-border-bottom-hover: 1px solid #ff966a;
  --ct-external-link-color: #f98b5d;
  --ct-external-link-color-hover: #ff966a;
  --ct-external-link-background-inside-block-reference: var(
    --ct-external-link-background
  );
  --ct-external-link-background-inside-block-reference-hover: var(
    --ct-external-link-background-hover
  );
  --ct-external-link-border-bottom-inside-block-reference: var(
    --ct-external-link-border-bottom
  );
  --ct-external-link-border-bottom-inside-block-reference-hover: var(
    --ct-external-link-border-bottom-hover
  );
  --ct-external-link-color-inside-block-reference: var(
    --ct-external-link-color
  );
  --ct-external-link-color-inside-block-reference-hover: var(
    --ct-external-link-color-hover
  );

  --ct-page-reference-background: transparent;
  --ct-page-reference-background-hover: #333;
  --ct-page-reference-brackets-color: #555;
  --ct-page-reference-brackets-color-hover: #555;
  --ct-page-reference-color: #a0ca79;
  --ct-page-reference-color-hover: #b6df91;
  --ct-page-reference-inside-page-references-color: var(
    --ct-page-reference-color
  );
  --ct-page-reference-inside-page-references-color-hover: var(
    --ct-page-reference-color-hover
  );
  --ct-page-reference-background-inside-block-reference: var(
    --ct-page-reference-background
  );
  --ct-page-reference-background-inside-block-reference-hover: var(
    --ct-page-reference-background-hover
  );
  --ct-page-reference-brackets-color-inside-block-reference: var(
    --ct-page-reference-brackets-color
  );
  --ct-page-reference-brackets-color-inside-block-reference-hover: var(
    --ct-page-reference-brackets-color-hover
  );
  --ct-page-reference-color-inside-block-reference: var(
    --ct-page-reference-color
  );
  --ct-page-reference-color-inside-block-reference-hover: var(
    --ct-page-reference-color-hover
  );
  --ct-page-reference-color-inside-highlight: #f8ffe9;

  --ct-tag-background: none;
  --ct-tag-background-hover: var(--ct-page-reference-background-hover);
  --ct-tag-color: var(--ct-page-reference-color);
  --ct-tag-color-hover: var(--ct-page-reference-color-hover);
  --ct-tag-background-inside-block-reference: var(--ct-tag-background);
  --ct-tag-background-inside-block-reference-hover: var(
    --ct-tag-background-hover
  );
  --ct-tag-color-inside-block-reference: var(--ct-tag-color);
  --ct-tag-color-inside-block-reference-hover: var(--ct-tag-color-hover);

  --ct-block-reference-border-bottom: 1px solid #57ad95;
  --ct-block-reference-border-bottom-hover: 1px solid #57ad95;
  --ct-block-reference-background: rgba(60, 87, 78, 0.6);
  --ct-block-reference-background-hover: rgba(60, 87, 78, 1);
  --ct-block-reference-color: var(--ct-page-font-color);
  --ct-block-reference-color-hover: #fff;
  --ct-block-reference-hash-color: #57ad95;

  --ct-mark-background: #93a769;
  --ct-mark-color: #1d1d1d;

  --ct-italics-color: inherit;

  --ct-bold-color: #fff;

  --ct-inline-code-background: #30403c;
  --ct-inline-code-color: #fff;

  --ct-query-background: var(--ct-page-properties-background);
  --ct-query-header-background: #30403c;
  --ct-query-header-color: #fff;
  --ct-query-result-page-title: var(--ct-page-reference-color);
  --ct-query-result-page-title-hover: var(--ct-page-reference-color-hover);

  --ct-calendar-background: #242424;
  --ct-calendar-header-background: #202020;
  --ct-calendar-header-color: var(--ct-page-font-color);
  --ct-calendar-day-color: var(--ct-page-reference-color);
  --ct-calendar-day-color-hover: var(--ct-page-reference-color-hover);

  --ct-sidebar-resizer-background: none;
  --ct-sidebar-resizer-background-hover: rgba(43, 43, 43, 0.7);

  --ct-sidebar-background: none;
  --ct-sidebar-tabs-color: #5a5a5a;
  --ct-sidebar-close-arrow-color: var(--ct-block-arrow-color);
  --ct-sidebar-font-color: var(--ct-page-font-color);
  --ct-sidebar-item-background: rgba(34, 34, 34, 0.6);
  --ct-sidebar-item-box-shadow: var(--ct-page-box-shadow);
  --ct-sidebar-item-title-color: var(--ct-page-font-color);
  --ct-sidebar-item-title-text-shadow: var(--ct-page-title-text-shadow);
  --ct-sidebar-item-close-button-color: #797979;
  --ct-sidebar-page-references-background: var(--ct-page-properties-background);
  --ct-sidebar-page-properties-background: var(--ct-page-properties-background);
  --ct-sidebar-block-properties-background: var(
    --ct-page-properties-background
  );
  --ct-sidebar-quote-background: var(--ct-page-properties-background);
  --ct-sidebar-quote-border-left: var(--ct-quote-border-left);
  --ct-sidebar-page-embed-background: var(--ct-page-properties-background);
  --ct-sidebar-block-embed-background: var(--ct-page-properties-background);

  --ct-recent-pages-color: var(--ct-page-reference-color);
  --ct-help-pages-color: var(--ct-page-reference-color);

  --ct-caret-color: var(--ct-page-reference-color);
  --ct-text-selection-color: #357764;
  --ct-block-selected-background: #23483c;
  --ct-block-selected-border-bottom-color: var(--ct-background);
  --ct-menu-dropdown-background: #262626;
  --ct-menu-dropdown-color: var(--ct-page-font-color);
  --ct-menu-dropdown-hover-color: #666;
  --ct-menu-focused-by-keyboard: #484848;

  --ct-journal-border-height: 1px;
  --ct-journal-border-style: solid;
  --ct-journal-border-color: #393939;

  --ct-slides-font-color: var(--ct-sidebar-font-color);
  --ct-slides-background: var(--ct-sidebar-item-background);

  --ct-code-block-background: #292929;
  --ct-code-block-color: #e1e1e1;
  --ct-code-block-line-numbers-background: #1e1e1e;
  --ct-code-block-lang-color: #6f6f6f;
  --ct-code-block-lang-background: #242424;

  --ct-table-head-bg: none;
  --ct-table-head-color: var(--ct-page-font-color);
  --ct-table-row-odd-bg: #252525;
  --ct-table-row-odd-color: var(--ct-page-font-color);
  --ct-table-row-even-bg: #1e1e1e;
  --ct-table-row-even-color: var(--ct-page-font-color);
  --ct-table-head-border-bottom: 2px solid #333;

  --ct-settings-overlay-background: var(--ct-page-properties-background);
  --ct-settings-background: #1e1e1e;
  --ct-settings-switcher-background: var(--ls-link-ref-text-color);
  --ct-settings-select-background: var(--ls-scrollbar-foreground-color);
  --ct-settings-select-color: rgb(255 255 255 / 70%);
  --ct-settings-input-border: 1px solid var(--ls-scrollbar-foreground-color);
  --ct-settings-input-color: rgb(255 255 255 / 70%);
  --ct-settings-hr-color: var(--ct-journal-border-color);

  --ct-rename-overlay-background: var(--ct-settings-overlay-background);
  --ct-rename-background: var(--ct-settings-background);
  --ct-rename-header-color: #d5d5d5;
  --ct-rename-input-color: #fff;
  --ct-rename-cancel-background: #222;
  --ct-rename-cancel-color: #d5d5d5;

  --ct-mobile-head-background: #1e1e1e;
  --ct-mobile-head-menu-icon-color: var(--ct-page-font-color);
  --ct-mobile-left-sidebar-background: #1e1e1e;
  --ct-mobile-sidebar-repo-name-color: var(--ct-page-reference-color);
  --ct-mobile-close-sidebar-button-color: var(--ct-page-reference-color);
  --ct-mobile-menu-color: var(--ct-page-reference-color);
  --ct-mobile-menu-separator-background: var(--ct-settings-hr-color);
  --ct-mobile-editor-toolbar-background: #222;
  --ct-mobile-editor-toolbar-color: var(--ct-page-font-color);

  --ct-topbar-background: rgba(28, 28, 28, 0.6);
  --ct-topbar-border-color: rgba(0, 0, 0, 0.16);
}

/***************************************************************
****************************************************************
****************************************************************
**************************** Light 1 ***************************
****************************************************************
****************************************************************
***************************************************************/

.white-theme,
html[data-theme="light"] {
  --ls-icon-color: var(--ct-title-3dots-icon-color);
  --ls-link-text-color: var(--ct-page-reference-color);
  --ls-link-text-hover-color: var(--ct-page-reference-color-hover);
  --ls-link-ref-text-color: var(--ct-page-reference-color);
  --ls-link-ref-text-hover-color: var(--ct-page-reference-color-hover);
  --ls-primary-text-color: var(--ct-page-font-color);

  --ct-background: #fff;
  --ls-primary-background-color: var(--ct-background);
  --ls-secondary-background-color: #eee;

  --ct-desktop-nav-buttons-color: #a6a6a6;

  --ls-scrollbar-foreground-color: #a6a6a6;
  --ls-scrollbar-background-color: #fafafa;

  --ct-main-view-border: 2px solid #ccc;

  --ct-logo-color: #5d5d5d;
  --ct-repo-name-color: #a6a6a6;
  --ct-top-right-3dots-icon-color: #a6a6a6;

  --ct-search-icon-color: #638445;
  --ct-search-field-background: #f1f1f1;
  --ct-search-field-background-focus: #f1f1f1;
  --ct-search-field-text-color: #333;

  --ct-page-background: #f4f4f4;
  --ct-page-box-shadow: none;

  --ct-page-font-color: #393939;
  --ct-page-title-color: var(--ct-page-font-color);
  --ct-page-title-text-shadow: none;
  --ct-heading-color: var(--ct-page-title-color);
  --ct-heading-text-shadow: var(--ct-page-title-text-shadow);

  --ct-title-3dots-icon-color: #a6a6a6;

  --ct-file-path-color: #909d74;
  --ct-file-path-color-hover: #a0ae83;

  --ct-page-references-background: #eaeaea;
  --ct-page-references-border: none;

  --ct-page-properties-background: #eee;

  --ct-hr-border-top: 1px solid #d2d2d2;

  --ct-guideline-color: #cacaca;
  --ct-guideline-size: 1px;
  --ct-guideline-style: solid;

  --ct-block-arrow-color: #b3b3b3;

  --ct-bullet-size: 6px;
  --ct-bullet-color: #d5d5d5;
  --ct-bullet-closed-color: #a4a4a4;

  --ct-block-properties-background: #eee;

  --ct-quote-background: linear-gradient(
    135deg,
    rgba(225, 232, 224, 0.4) 0%,
    transparent 100%
  );
  --ct-quote-border-left: 5px solid #909d74;

  --ct-page-embed-background: #eee;
  --ct-page-embed-header-color: #638445;

  --ct-block-embed-background: #eee;

  --ct-block-references-count-color: #999;
  --ct-block-references-count-background: #f7f7f7;
  --ct-block-references-count-color-hover: #5d5d5d;
  --ct-block-references-count-background-hover: #dfdfdf;

  --ct-checkbox-border-color: #82a660;
  --ct-checkbox-border-color-checked: #99b083;
  --ct-checkbox-background-color: transparent;
  --ct-checkbox-background-color-checked: #99b083;
  --ct-checkbox-doing-border-color: #ff6d6d;
  --ct-checkbox-doing-background-color: var(--ct-checkbox-background-color);
  --ct-checkbox-marker-switch-display: none;
  --ct-checkbox-marker-switch-color: var(--ct-checkbox-border-color);
  --ct-checkbox-doing-marker-switch-color: var(
    --ct-checkbox-doing-border-color
  );
  --ct-task-done-text-color: #8e8e8e;
  --ct-scheduled-or-deadline-color: var(--ct-file-path-color);
  --ct-scheduled-or-deadline-color-hover: var(--ct-file-path-color-hover);

  --ct-external-link-text-decoration: none;
  --ct-external-link-text-decoration-hover: none;
  --ct-external-link-background: none;
  --ct-external-link-background-hover: var(
    --ct-page-reference-background-hover
  );
  --ct-external-link-border-bottom: 1px solid rgba(242, 178, 151, 0.7);
  --ct-external-link-border-bottom-hover: 1px solid #f7753e;
  --ct-external-link-color: #f7753e;
  --ct-external-link-color-hover: #f7753e;
  --ct-external-link-background-inside-block-reference: var(
    --ct-external-link-background
  );
  --ct-external-link-background-inside-block-reference-hover: var(
    --ct-external-link-background-hover
  );
  --ct-external-link-border-bottom-inside-block-reference: var(
    --ct-external-link-border-bottom
  );
  --ct-external-link-border-bottom-inside-block-reference-hover: var(
    --ct-external-link-border-bottom-hover
  );
  --ct-external-link-color-inside-block-reference: var(
    --ct-external-link-color
  );
  --ct-external-link-color-inside-block-reference-hover: var(
    --ct-external-link-color-hover
  );

  --ct-page-reference-background: transparent;
  --ct-page-reference-background-hover: #e7e7e7;
  --ct-page-reference-brackets-color: #d5d5d5;
  --ct-page-reference-brackets-color-hover: #ccc;
  --ct-page-reference-color: #638445;
  --ct-page-reference-color-hover: #789959;
  --ct-page-reference-inside-page-references-color: var(
    --ct-page-reference-color
  );
  --ct-page-reference-inside-page-references-color-hover: var(
    --ct-page-reference-color-hover
  );
  --ct-page-reference-background-inside-block-reference: var(
    --ct-page-reference-background
  );
  --ct-page-reference-background-inside-block-reference-hover: var(
    --ct-page-reference-background-hover
  );
  --ct-page-reference-brackets-color-inside-block-reference: var(
    --ct-page-reference-brackets-color
  );
  --ct-page-reference-brackets-color-inside-block-reference-hover: var(
    --ct-page-reference-brackets-color-hover
  );
  --ct-page-reference-color-inside-block-reference: var(
    --ct-page-reference-color
  );
  --ct-page-reference-color-inside-block-reference-hover: var(
    --ct-page-reference-color-hover
  );
  --ct-page-reference-color-inside-highlight: #f4ffdb;

  --ct-tag-background: none;
  --ct-tag-background-hover: var(--ct-page-reference-background-hover);
  --ct-tag-color: var(--ct-page-reference-color);
  --ct-tag-color-hover: var(--ct-page-reference-color-hover);
  --ct-tag-background-inside-block-reference: var(--ct-tag-background);
  --ct-tag-background-inside-block-reference-hover: var(
    --ct-tag-background-hover
  );
  --ct-tag-color-inside-block-reference: var(--ct-tag-color);
  --ct-tag-color-inside-block-reference-hover: var(--ct-tag-color-hover);

  --ct-block-reference-border-bottom: 1px solid #789959;
  --ct-block-reference-border-bottom-hover: 1px solid #5e7746;
  --ct-block-reference-background: rgba(120, 153, 89, 0.1);
  --ct-block-reference-background-hover: rgba(120, 153, 89, 0.3);
  --ct-block-reference-color: #333;
  --ct-block-reference-color-hover: #333;
  --ct-block-reference-hash-color: #789959;

  --ct-mark-background: #15803d;
  --ct-mark-color: #fff;

  --ct-italics-color: inherit;

  --ct-bold-color: #000;

  --ct-inline-code-background: #e2e2e2;
  --ct-inline-code-color: #333;

  --ct-query-background: #eee;
  --ct-query-header-background: #789959;
  --ct-query-header-color: #fff;
  --ct-query-result-page-title: var(--ct-page-reference-color);
  --ct-query-result-page-title-hover: var(--ct-page-reference-color-hover);

  --ct-calendar-background: #eee;
  --ct-calendar-header-background: rgba(230, 230, 230, 0.8);
  --ct-calendar-header-color: #575757;
  --ct-calendar-day-color: var(--ct-page-reference-color);
  --ct-calendar-day-color-hover: var(--ct-page-reference-color-hover);

  --ct-sidebar-resizer-background: none;
  --ct-sidebar-resizer-background-hover: #e1e1e1;

  --ct-sidebar-background: none;
  --ct-sidebar-tabs-color: #9c9c9c;
  --ct-sidebar-close-arrow-color: #9c9c9c;
  --ct-sidebar-font-color: var(--ct-page-font-color);
  --ct-sidebar-item-background: rgba(244, 244, 244, 0.6);
  --ct-sidebar-item-box-shadow: none;
  --ct-sidebar-item-title-color: #575757;
  --ct-sidebar-item-title-text-shadow: var(--ct-page-title-text-shadow);
  --ct-sidebar-item-close-button-color: #9c9c9c;
  --ct-sidebar-page-references-background: var(--ct-page-references-background);
  --ct-sidebar-page-properties-background: var(--ct-page-properties-background);
  --ct-sidebar-block-properties-background: var(
    --ct-block-properties-background
  );
  --ct-sidebar-quote-background: var(--ct-quote-background);
  --ct-sidebar-quote-border-left: var(--ct-quote-border-left);
  --ct-sidebar-page-embed-background: var(--ct-page-embed-background);
  --ct-sidebar-block-embed-background: var(--ct-block-embed-background);

  --ct-recent-pages-color: var(--ct-page-reference-color);
  --ct-help-pages-color: var(--ct-page-reference-color);

  --ct-caret-color: var(--ct-page-reference-color);
  --ct-text-selection-color: #c9ce9c;
  --ct-block-selected-background: #d5dedb;
  --ct-block-selected-border-bottom-color: var(--ct-background);
  --ct-menu-dropdown-background: #fcfcfc;
  --ct-menu-dropdown-color: #333;
  --ct-menu-dropdown-hover-color: #e6e6e6;
  --ct-menu-focused-by-keyboard: #ccc;

  --ct-journal-border-height: 1px;
  --ct-journal-border-style: solid;
  --ct-journal-border-color: #d2d2d2;

  --ct-slides-font-color: var(--ct-sidebar-font-color);
  --ct-slides-background: var(--ct-sidebar-item-background);

  --ct-code-block-background: #f1f1f1;
  --ct-code-block-color: #595959;
  --ct-code-block-line-numbers-background: #eaeaea;
  --ct-code-block-line-numbers-shadow: none;
  --ct-code-block-lang-color: #6f6f6f;
  --ct-code-block-lang-background: #eaeaea;
  --ct-code-block-variable-color: #738663;
  --ct-code-block-def-color: #f7753e;

  --ct-table-head-bg: none;
  --ct-table-head-color: var(--ct-page-font-color);
  --ct-table-row-odd-bg: #f1f1f1;
  --ct-table-row-odd-color: var(--ct-page-font-color);
  --ct-table-row-even-bg: #e8e8e8;
  --ct-table-row-even-color: var(--ct-page-font-color);
  --ct-table-head-border-bottom: 2px solid #e8e8e8;

  --ct-settings-overlay-background: #d5d5d5;
  --ct-settings-background: #fdfdfd;
  --ct-settings-switcher-background: var(--ls-link-ref-text-color);
  --ct-settings-select-background: var(--ls-scrollbar-foreground-color);
  --ct-settings-select-color: #4f4f4f;
  --ct-settings-input-border: 1px solid var(--ls-scrollbar-foreground-color);
  --ct-settings-input-color: #4f4f4f;
  --ct-settings-hr-color: var(--ct-journal-border-color);

  --ct-rename-overlay-background: var(--ct-settings-overlay-background);
  --ct-rename-background: var(--ct-settings-background);
  --ct-rename-header-color: #4f4f4f;
  --ct-rename-input-color: #4f4f4f;
  --ct-rename-cancel-background: #f9f9f9;
  --ct-rename-cancel-color: #515151;

  --ct-mobile-head-background: #e6e6e6;
  --ct-mobile-head-menu-icon-color: var(--ct-page-font-color);
  --ct-mobile-left-sidebar-background: #f1f1f1;
  --ct-mobile-sidebar-repo-name-color: var(--ct-page-reference-color);
  --ct-mobile-close-sidebar-button-color: var(--ct-page-reference-color);
  --ct-mobile-menu-color: var(--ct-page-reference-color);
  --ct-mobile-menu-separator-background: var(--ct-settings-hr-color);
  --ct-mobile-editor-toolbar-background: #e6e6e6;
  --ct-mobile-editor-toolbar-color: var(--ct-page-font-color);

  --ct-topbar-background: rgba(255, 255, 255, 0.6);

  --ls-scrollbar-foreground-color: rgba(122, 122, 122, 0.6);
  --ls-scrollbar-background-color: rgba(236, 236, 236, 0.6);
  --ls-scrollbar-thumb-hover-color: #a8a8a8;

  --ct-topbar-border-color: rgba(0, 0, 0, 0.16);
}

/***************************************************************
**************************** MISC ******************************
***************************************************************/

html {
  font-variant-ligatures: contextual;
}

html ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

p {
  margin: 0;
}

.overflow-y-auto,
.cp__right-sidebar-inner {
  transform: translate3d(0, 0, 0);
}

/* daily note as card */

.white-theme #journals {
  margin-bottom: 0;
}
.white-theme #journals .journal-item:first-child {
  min-height: 0;
}
.white-theme #journals .journal-item {
  margin-bottom: 0;
}

.extensions__code > .CodeMirror {
  padding: 0;
  border-radius: var(--ct-page-border-radius);
}

.CodeMirror pre {
  box-shadow: none;
}

.cp__right-sidebar pre.CodeMirror-line {
  background-color: unset;
}

.extensions__code-lang {
  visibility: hidden;
}

html.is-electron .cp__header {
  height: 3rem;
}

.cp__header #search-field {
  height: 28px;
  font-size: 12px;
  background: transparent;
}

/* image blocks */

.block-content > div {
  width: -webkit-fill-available;
}

.block-content .resize {
  max-width: -webkit-fill-available;
}

.resize {
  filter: brightness(1);
  transform: translate3d(0, 0, 0);
}

.dark-theme .image-resize {
  filter: brightness(0.8);
}

/*
|xxxxxxxxxxxxxxxxxxxxxxxxxx|
|xx|     PRIORITIES     |xx|
|xxxxxxxxxxxxxxxxxxxxxxxxxx|
*/

a[priority],
a.priority {
    font-size: 15px;
}

a[priority="A"]:before,
a.priority[href="#/page/A" i]:before {
  content: "🔴";
  margin-right: 2px;
}

a[priority="B"]:before,
a.priority[href="#/page/B" i]:before {
  content: "🟡";
  margin-right: 2px;
}

a[priority="C"]:before,
a.priority[href="#/page/C" i]:before {
  content: "🟢";
  margin-right: 2px;
}

a[priority]:before,
a.priority:before {
    border-radius: 50%;
    color: var(--ls-primary-text-color);
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    width: 1.2rem;
}

.Tooltip__label {
    --arrow-size: 0px;
    background-color: var(--ls-primary-background-color);
    border: 1px solid grey;
    font-size: 1rem;
    left: -2px;
    padding: 0 2px;
    top: -2px;
    width: max-content;
}

.Tooltip__label ul {
    margin-left: 0;
}

/* ============= PRIORITIES ENDS ============= */

/* Custom tags */
a.tag[data-ref="⭐️" i]::before,
a.tag[data-ref="star" i]::before {
  content: "⭐️";
  visibility: visible;
  border-radius: var(--ct-tag-border-radius);
  opacity: var(--ct-tag-opacity);
  background: red;
  box-shadow: 0 0 4px red;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.tag[data-ref="⭐️" i],
a.tag[data-ref="star" i] {
  visibility: hidden;
  width: 1.5em;
  height: 1.5em;
  white-space: nowrap;
  text-shadow: var(--ct-tag-shadow);
  position: relative;
}

a.tag[data-ref="?" i],
a.tag[data-ref="question" i] {
  visibility: hidden;
  white-space: nowrap;
  position: relative;
}

a.tag[data-ref="?" i]::before,
a.tag[data-ref="question" i]::before {
  content: "❓";
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--ct-tag-border-radius);
  opacity: var(--ct-tag-opacity);
  background: #ffe4e4ee;
  border: 1px solid red;
  text-shadow: var(--ct-tag-shadow);
}

a.tag[data-ref="Read Later" i]::before {
  content: "📖";
  margin-right: 0.2em;
  text-shadow: var(--ct-tag-shadow);
}

a.tag[data-ref="learn new tech" i]::before {
  content: "⚙️";
  margin-right: 0.2em;
  text-shadow: var(--ct-tag-shadow);
}

a.tag[data-ref="卷" i]::before {
  content: "🧻";
  margin-right: 0.2em;
  text-shadow: var(--ct-tag-shadow);
}

a.tag[data-ref*="facepalm" i]::before {
  content: "😑";
  margin-right: 0.2em;
  text-shadow: var(--ct-tag-shadow);
}
